.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contador{
    text-align: center;
}

.button{
    display: flex;
    gap: 10px;
}

h1{
    font-size: 130px;
}